# Verificando o conteúdo do dataset

> ação:
> 1. Verificar necessidade de limpeza dos dados (texo).  a data precisaremos separar o horario
> 2. Verificar qual coluna do texto vamos utilizar
> 3. Estudar a polaridade das palavras
> 4. Verificar palavras mais utilizadas
> 5. Buscar dados econômicos e o price action do EURUSD
> 6. Cenas dos próximos insights

## Começou!

In [1]:
#import das bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
df = pd.read_csv('C:\Python\Mentoria\Forex\Forex\Dataset\compilado\cnbc_dataset.csv')
df.head(3)

,title,published_at,publisher,short_description,description
0,Santoli’s Wednesday market notes: Could Septem...,2021-09-29 17:09:39+00:00,CNBC,"This is the daily notebook of Mike Santoli, CN...","This is the daily notebook of Mike Santoli, CN..."
1,My take on the early Brexit winners and losers,2016-06-24 13:50:48-04:00,CNBC,This commentary originally ran on Facebook. Bo...,NaN
2,Europe&#039;s recovery depends on Renzi&#039;s...,2014-03-25 13:29:45-04:00,CNBC,"In spring, ambitious reforms began in Italy. U...",NaN

## Cuidando da coluna published_at

In [30]:
#tirando "+00:00" da coluna e transformando em datetime do pandas
df['published_at'] = [x.replace('+00:00', "") for x in df['published_at']]
df['published_at'] = [x.replace('-04:00', "") for x in df['published_at']]
df['published_at'] = pd.to_datetime(df['published_at'])

df.head(3)

,title,published_at,publisher,short_description,description
0,Santoli’s Wednesday market notes: Could Septem...,2021-09-29 17:09:39,CNBC,"This is the daily notebook of Mike Santoli, CN...","This is the daily notebook of Mike Santoli, CN..."
1,My take on the early Brexit winners and losers,2016-06-24 13:50:48,CNBC,This commentary originally ran on Facebook. Bo...,NaN
2,Europe&#039;s recovery depends on Renzi&#039;s...,2014-03-25 13:29:45,CNBC,"In spring, ambitious reforms began in Italy. U...",NaN

In [37]:
df['new_date'] = [d.date() for d in df['published_at']]
df['new_time'] = [d.time() for d in df['published_at']]
df.head(3)

,title,published_at,publisher,short_description,description,new_date,new_time
0,Santoli’s Wednesday market notes: Could Septem...,2021-09-29 17:09:39,CNBC,"This is the daily notebook of Mike Santoli, CN...","This is the daily notebook of Mike Santoli, CN...",2021-09-29,17:09:39
1,My take on the early Brexit winners and losers,2016-06-24 13:50:48,CNBC,This commentary originally ran on Facebook. Bo...,NaN,2016-06-24,13:50:48
2,Europe&#039;s recovery depends on Renzi&#039;s...,2014-03-25 13:29:45,CNBC,"In spring, ambitious reforms began in Italy. U...",NaN,2014-03-25,13:29:45

In [51]:
df['new_date'] = pd.to_datetime(df['new_date'])

#df['new_time'] = pd.to_datetime(df['new_time'])

In [54]:
df['new_date'].min(), df['new_date'].max()

(Timestamp('2006-12-04 00:00:00'), Timestamp('2021-10-18 00:00:00'))

## Verificando a polaridade da coluna 'title' utilizando o textblob

TextBlob aims to provide access to common text-processing operations through a familiar interface. You can treat TextBlob objects as if they were Python strings that learned how to do Natural Language Processing.

https://textblob.readthedocs.io/en/dev/quickstart.html

### Sentiment Analysis
The sentiment property returns a namedtuple of the form Sentiment(polarity, subjectivity). 

The polarity score is a float within the range [-1.0, 1.0]. 

The subjectivity is a float within the range [0.0, 1.0] where 0.0 is very objective and 1.0 is very subjective.

>>> testimonial = TextBlob("Textblob is amazingly simple to use. What great fun!")

>>> testimonial.sentiment

Sentiment(polarity=0.39166666666666666, subjectivity=0.4357142857142857)

>>> testimonial.sentiment.polarity

0.39166666666666666

In [42]:
#!pip install textblob

Requirement already satisfied: textblob in c:\users\usuario\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\usuario\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\usuario\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: click in c:\users\usuario\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: joblib in c:\users\usuario\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: tqdm in c:\users\usuario\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: colorama in c:\users\usuario\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Requirement already satisfied: pip in c:\users\usuario\anaconda3\lib\site-packages (22.2.1)

In [ ]:
#!pip install --upgrade pip

In [43]:
from textblob import TextBlob

In [44]:
df['sentiment'] = df['title'].apply(lambda x: TextBlob(x).sentiment_assessments)

In [45]:
df.head()

,title,published_at,publisher,short_description,description,new_date,new_time,sentiment
0,Santoli’s Wednesday market notes: Could Septem...,2021-09-29 17:09:39,CNBC,"This is the daily notebook of Mike Santoli, CN...","This is the daily notebook of Mike Santoli, CN...",2021-09-29,17:09:39,"(0.0, 0.0, [(['fourth'], 0.0, 0.0, None)])"
1,My take on the early Brexit winners and losers,2016-06-24 13:50:48,CNBC,This commentary originally ran on Facebook. Bo...,NaN,2016-06-24,13:50:48,"(-0.05, 0.25, [(['early'], 0.1, 0.3, None), ([..."
2,Europe&#039;s recovery depends on Renzi&#039;s...,2014-03-25 13:29:45,CNBC,"In spring, ambitious reforms began in Italy. U...",NaN,2014-03-25,13:29:45,"(0.0, 0.0, [])"
3,US Moves Closer to Becoming A Major Shareholde...,2009-04-22 19:49:03,CNBC,The US government is increasingly likely to co...,The US government is increasingly likely to co...,2009-04-22,19:49:03,"(0.25625, 0.675, [(['becoming'], 0.45, 0.85000..."
4,Trump: 'Mission accomplished' on 'perfectly ex...,2018-04-14 14:59:04,CNBC,NaN,President Donald Trump hailed the U.S.-led int...,2018-04-14,14:59:04,"(0.6, 0.75, [(['accomplished'], 0.2, 0.5, None..."

In [46]:
#podemos fazer assim tb: (obrigada, StackOverFlow!)
"""def sentiment_calc(text):
    try:
        return TextBlob(text).sentiment_assessments
    except:
        return None

df['sentiment'] = df['title'].apply(sentiment_calc)
"""

In [47]:
df.head(2)

,title,published_at,publisher,short_description,description,new_date,new_time,sentiment
0,Santoli’s Wednesday market notes: Could Septem...,2021-09-29 17:09:39,CNBC,"This is the daily notebook of Mike Santoli, CN...","This is the daily notebook of Mike Santoli, CN...",2021-09-29,17:09:39,"(0.0, 0.0, [(['fourth'], 0.0, 0.0, None)])"
1,My take on the early Brexit winners and losers,2016-06-24 13:50:48,CNBC,This commentary originally ran on Facebook. Bo...,NaN,2016-06-24,13:50:48,"(-0.05, 0.25, [(['early'], 0.1, 0.3, None), ([..."