# verificação de dataset para utilização no projeto

## import libraries

In [2]:
#import das bibliotecas
import pandas as pd
import numpy as np

## CNBC

In [4]:
df_cnbc = pd.read_csv('C:\Python\Mentoria\Forex\Forex\Dataset\Original\cnbc_news_datase.csv')

#isolando as colunas que nos interessam
cols = ['title', 'published_at', 'publisher', \
    'short_description', 'description']

df_cnbc_filtered = df_cnbc[cols]
df_cnbc_filtered.head(2)

,title,published_at,publisher,short_description,description
0,Santoli’s Wednesday market notes: Could Septem...,2021-09-29T17:09:39+0000,CNBC,"This is the daily notebook of Mike Santoli, CN...","This is the daily notebook of Mike Santoli, CN..."
1,My take on the early Brexit winners and losers,2016-06-24T13:50:48-0400,CNBC,This commentary originally ran on Facebook. Bo...,NaN

In [42]:
df_cnbc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              625 non-null    object
 1   url                625 non-null    object
 2   published_at       625 non-null    object
 3   author             397 non-null    object
 4   publisher          625 non-null    object
 5   short_description  609 non-null    object
 6   keywords           625 non-null    object
 7   header_image       625 non-null    object
 8   raw_description    594 non-null    object
 9   description        593 non-null    object
 10  scraped_at         625 non-null    object
dtypes: object(11)
memory usage: 53.8+ KB

## Huffpost

In [18]:
df_huffpost = pd.read_csv('C:\Python\Mentoria\Forex\Forex\Dataset\Original\huff.csv')

#filtrando os dados que nos interessam
filtro = ['Business','Politics']
df_huffpost_selected = df_huffpost[df_huffpost.tags.isin(filtro)]


#isolando as colunas que nos interessam
cols = ['headline', 'short_description', \
    'source_title',  'description',  'published_at']
df_huffpost_filtered = df_huffpost_selected[cols]

#renomeando as colunas
df_huffpost_filtered.rename(
    columns = {'headline': 'title',
    'source_title': 'publisher',
    }, inplace = True)

# #reset index
# df_huffpost_filtered.reset_index(inplace= True)


df_huffpost_filtered.head(2)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_2916\1349461916.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_huffpost_filtered.rename(

,title,short_description,publisher,description,published_at
0,Kidnapped By A Narcissist: The GOP's Stockholm...,It is two months since Donald Trump clinched t...,HuffPost,It is two months since Donald Trump clinched t...,07/05/16
1,The Refreshing Reason Google's CFO Is Leaving,NaN,HuffPost,"""After nearly seven years as CFO, I will be re...",03/11/15

## us economy newspaper

In [23]:
df_us = pd.read_csv(r'C:\Python\Mentoria\Forex\Forex\Dataset\Original\us-economic-newspaper.csv', delimiter=',', encoding = 'ISO-8859-1')
df_us.head(2)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,positivity,positivity:confidence,relevance,relevance:confidence,orig__golden,articleid,date,headline,lineid,next_sentence,positivity_gold,previous_sentence,relevance_gold,text
0,729487630,False,finalized,3,6/8/15 14:26,NaN,0.0000,not sure,0.3469,NaN,109092213,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,109092213_01,"The Nasdaq composite index, home of technology...",NaN,NaN,NaN,The stock market accelerated its screeching sw...
1,729487631,False,finalized,3,6/11/15 10:58,6.0,0.3675,yes,1.0000,NaN,109092213,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,109092213_02,"The bond market continued to rally, propelling...",NaN,The stock market accelerated its screeching sw...,NaN,"The Nasdaq composite index, home of technology..."

In [24]:
cols = ['date','headline','text']
df_us_filtered = df_us[cols]
df_us_filtered.head(2)

,date,headline,text
0,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,The stock market accelerated its screeching sw...
1,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,"The Nasdaq composite index, home of technology..."

In [28]:

df_us_filtered['description'] = np.nan
df_us_filtered['publisher'] = 'News'


#renomeando as colunas
df_us_filtered.rename(
    columns = {'headline': 'title',
    'date': 'published_at',
    'text': 'short_description',
    }, inplace = True)

df_us_filtered.head(2)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_2916\1799500804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us_filtered['description'] = np.nan
C:\Users\Usuario\AppData\Local\Temp\ipykernel_2916\1799500804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us_filtered['publisher'] = 'News'

,published_at,title,short_description,publisher,description
0,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,The stock market accelerated its screeching sw...,News,NaN
1,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,"The Nasdaq composite index, home of technology...",News,NaN

## Unindo os dataframes

In [37]:
df = pd.concat([df_cnbc_filtered, df_huffpost_filtered, df_us_filtered])
df.sample(2)

,title,published_at,publisher,short_description,description
3240,WELL-BEING: The Golden Years For Silver Prices...,3/12/02,News,"Mr. Waddell, a 66-ycar-old money-management sp...",NaN
4060,Market Place: Gains Forecast For Gillette,11/25/86,News,ï¿½ï¿½ï¿½I have changed my rating on the stock...,NaN

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5667 entries, 0 to 5012
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              5667 non-null   object
 1   published_at       5667 non-null   object
 2   publisher          5667 non-null   object
 3   short_description  5642 non-null   object
 4   description        622 non-null    object
dtypes: object(5)
memory usage: 265.6+ KB

In [39]:
df.publisher.value_counts()

News        5013
CNBC         625
HuffPost      29
Name: publisher, dtype: int64

In [40]:
df.sample(10)

,title,published_at,publisher,short_description,description
161,Should CEO pay be tied to share price?,2016-03-14T19:58:52+0000,CNBC,"In a filing with the SEC on Friday, Chipotle a...","In a filing with the SEC on Friday, Chipotle a..."
2546,Early Interest Rate Rise Prompts a Broad Selloff,8/10/82,News,"The early rise in short-term interest rates, w...",NaN
4991,Recession Changing Clothes-Buying Habits: New ...,8/18/82,News,Leaders of the American apparel and fashion in...,NaN
1955,Producer Prices Jump but Quirk Is Seen in Data...,12/13/95,News,"""The jump in producer prices does not indicate...",NaN
2454,Merger Wave: How Stock and Bonds Fare: Merger ...,1/7/86,News,ï¿½ï¿½ï¿½Shareholders of the acquired company ...,NaN
897,Treasury Prices Fall on Jobs Report,3/10/90,News,Prices of Treasury securities tumbled yesterda...,NaN
1432,"Mortgage Rates Fall, but Many Banks Still Limi...",6/1/80,News,MORTGAGE interest rates on the Island are fall...,NaN
1842,Finding Your Way Through the Mortgage Maze: Mo...,10/10/82,News,NB ow is the best time ï¿½ï¿½ï¿½ to buy a co-o...,NaN
137,Deficit and the Dow: Market Frenzy Disturbs Ca...,10/24/87,News,"WASHINGTON, Oct. 23 ï¿½ï¿½ï¿½ Even as Presiden...",NaN
3857,"Corporate, U.S. Rates Hit Peaks: Treasury Note...",2/6/80,News,New three-and-a-half-year Treasury notes sold ...,NaN

In [36]:
df.to_csv('dados_compilados.csv', index=False)