# verificação de dataset para utilização no projeto

## import libraries

In [2]:
#import das bibliotecas
import pandas as pd
import numpy as np

## CNBC

In [27]:
df_cnbc = pd.read_csv('C:\Python\Mentoria\Forex\Stock_Analysis\Dataset\Analyse\cnbc_news_datase.csv')

#isolando as colunas que nos interessam
cols = ['title', 'published_at', 'publisher', \
    'short_description', 'description']

df_cnbc_filtered = df_cnbc[cols]
df_cnbc_filtered.head(2)

,title,published_at,publisher,short_description,description
0,Santoli’s Wednesday market notes: Could Septem...,2021-09-29T17:09:39+0000,CNBC,"This is the daily notebook of Mike Santoli, CN...","This is the daily notebook of Mike Santoli, CN..."
1,My take on the early Brexit winners and losers,2016-06-24T13:50:48-0400,CNBC,This commentary originally ran on Facebook. Bo...,NaN

In [42]:
df_cnbc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              625 non-null    object
 1   url                625 non-null    object
 2   published_at       625 non-null    object
 3   author             397 non-null    object
 4   publisher          625 non-null    object
 5   short_description  609 non-null    object
 6   keywords           625 non-null    object
 7   header_image       625 non-null    object
 8   raw_description    594 non-null    object
 9   description        593 non-null    object
 10  scraped_at         625 non-null    object
dtypes: object(11)
memory usage: 53.8+ KB

## Huffpost

In [30]:
df_huffpost = pd.read_csv('C:\Python\Mentoria\Forex\Stock_Analysis\Dataset\Analyse\huffpost_news_data.csv')

#filtrando os dados que nos interessam
filtro = ['Business','Politics']
df_huffpost_selected = df_huffpost[df_huffpost.tags.isin(filtro)]


#isolando as colunas que nos interessam
cols = ['headline', 'short_description', \
    'source_title',  'description',  'published_at']
df_huffpost_filtered = df_huffpost_selected[cols]

#renomeando as colunas
df_huffpost_filtered.rename(
    columns = {'headline': 'title',
    'source_title': 'publisher',
    }, inplace = True)

#reset index
df_huffpost_filtered.reset_index(inplace= True)


df_huffpost_filtered.head(2)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_22924\2027626100.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_huffpost_filtered.rename(

,title,short_description,publisher,description,published_at
253,Kidnapped By A Narcissist: The GOP's Stockholm...,It is two months since Donald Trump clinched t...,HuffPost,It is two months since Donald Trump clinched t...,07/05/16
432,The Refreshing Reason Google's CFO Is Leaving,NaN,HuffPost,"""After nearly seven years as CFO, I will be re...",03/11/15

## us economy newspaper

In [58]:
df_us = pd.read_csv(r'C:\Python\Mentoria\Forex\Stock_Analysis\Dataset\Analyse\us-economic-newspaper.csv', delimiter=',', encoding = 'ISO-8859-1')
df_us.head(2)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,positivity,positivity:confidence,relevance,relevance:confidence,orig__golden,articleid,date,headline,lineid,next_sentence,positivity_gold,previous_sentence,relevance_gold,text
0,729487630,False,finalized,3,6/8/15 14:26,NaN,0.0000,not sure,0.3469,NaN,109092213,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,109092213_01,"The Nasdaq composite index, home of technology...",NaN,NaN,NaN,The stock market accelerated its screeching sw...
1,729487631,False,finalized,3,6/11/15 10:58,6.0,0.3675,yes,1.0000,NaN,109092213,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,109092213_02,"The bond market continued to rally, propelling...",NaN,The stock market accelerated its screeching sw...,NaN,"The Nasdaq composite index, home of technology..."

In [59]:
cols = ['date','headline','text']
df_us_filtered = df_us[cols]
df_us_filtered.head(2)

,date,headline,text
0,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,The stock market accelerated its screeching sw...
1,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,"The Nasdaq composite index, home of technology..."

In [60]:
df_us_filtered['publisher'] = 'News'
df_us_filtered.head(2)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_22924\1734347702.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us_filtered['publisher'] = 'News'

,date,headline,text,publisher
0,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,The stock market accelerated its screeching sw...,News
1,2/23/93,Nasdaq Index Falls 1.7% But Dow Stocks Are Up:...,"The Nasdaq composite index, home of technology...",News

In [75]:
#renomeando as colunas
df_us_filtered.rename(
    columns = {'headline': 'short_description',
    'date': 'published_at',
    'text': 'short_description',
    }, inplace = True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_22924\498459597.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us_filtered.rename(

## Unindo os dataframes

In [79]:
df = pd.concat([df_cnbc_filtered, df_huffpost_filtered])
df.sample(2)

,title,published_at,publisher,short_description,description,level_0,index
42,Italy Prime Minister Monti to Meet Central Ban...,2013-02-26T09:32:17+0000,CNBC,"This is a developing story, please check back ...","This is a developing story, please check back ...",NaN,NaN
29,"Market Anxiety Hits Transports, Russell 2000, ...",2012-04-16T16:44:20+0000,CNBC,Apple as a non-confirmation? It started in the...,Apple as a non-confirmation? It started in the...,NaN,NaN

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 654 entries, 0 to 28
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              654 non-null    object
 1   published_at       654 non-null    object
 2   publisher          654 non-null    object
 3   short_description  629 non-null    object
 4   description        622 non-null    object
 5   level_0            29 non-null     float64
 6   index              29 non-null     float64
dtypes: float64(2), object(5)
memory usage: 40.9+ KB

In [69]:
df = df.drop(['level_0', 'index'], axis = 1)
df.head(2)

,title,published_at,publisher,short_description,description
0,Santoli’s Wednesday market notes: Could Septem...,2021-09-29T17:09:39+0000,CNBC,"This is the daily notebook of Mike Santoli, CN...","This is the daily notebook of Mike Santoli, CN..."
1,My take on the early Brexit winners and losers,2016-06-24T13:50:48-0400,CNBC,This commentary originally ran on Facebook. Bo...,NaN

In [70]:
df.publisher.value_counts()

CNBC        625
HuffPost     29
Name: publisher, dtype: int64

In [71]:
df.isnull().sum()

title                 0
published_at          0
publisher             0
short_description    25
description          32
dtype: int64

In [72]:
df.sample(5)

,title,published_at,publisher,short_description,description
118,'Ex-sector' ETFs offer new way to bet on stocks,2015-09-25T10:00:00+0000,CNBC,"""I'll take the S&P, but hold the energy."" A n...","""I'll take the S&P, but hold the energy."" A n..."
460,Germany Should Have Ratings Cut to Save Euro: ...,2011-07-20T09:03:50+0000,CNBC,"Germany, the euro zone's largest economy, shou...","Germany, the euro zone's largest economy, shou..."
473,New TalentBin Interest Scores to Provide Recru...,2012-10-08T13:03:00+0000,CNBC,NaN,"SAN FRANCISCO, Oct. 8, 2012 /PRNewswire/ -- Ta..."
28,"US Treasurys lower as investors focus on data,...",2017-07-31T19:31:48+0000,CNBC,U.S. government debt prices were lower on Mond...,U.S. government debt prices were lower on Mond...
115,World’s Most Popular Business Cities,2011-08-16T01:13:41+0000,CNBC,A shift in economic growth from the West to em...,A shift in economic growth from the West to em...